:root {
    --black: #1C1C1C;
    --red: #FB5948;
    --blur: rgba(128,128,128,0.4);
    --facebook: #4460A0;
}

*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'EB Garamond', serif;
    font-weight:700;
    color:white;
}

/********************/

body {
    width:100%;
    background-color:var(--black);
    color:white;
   

}

main {
    background-image:url(construction-images/take-this-coming-soon-image.png);
    background-size:cover;
    background-repeat: no-repeat;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;

}
.main-wrapper {
    width:100%;
    max-width:1440px;
    padding:6rem;
    padding-block:6rem;
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: space-between;
    gap:1.5rem;
    padding-block:16rem;
    padding-top:14rem;
    position:relative;
}
.titles {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: center;
    gap:1.5rem;
    
}
.main-wrapper h1 {
    font-size:4.5rem;
    line-height:1;
}
.main-wrapper p {
    width:35%;
    font-weight:300;
    line-height:1.75;
}
.notify-me {
    display:flex;
    gap:0;
    width:28rem;
}
.notify-me input {
    padding:0.5rem;
    width:90%;
    border-radius: 0.5rem;
    border:2px solid white;

}
.notify-me form button {
    padding:0.5rem 2rem;
    margin-left:-8rem;
    font-weight:700;
    background-color:var(--red);
    color:white;
    border:2px solid var(--red);
    border-radius: 0 0.5rem 0.5rem 0;
    cursor:pointer;
}
form {
    width:100%;
}
.notify-me form button:hover {
    background-color:#f37365;
    border-color:#f37365;
}
.big {
    font-family: 'EB Garamond', serif;
    font-size:250px;
    font-weight:700 !important;
    position: absolute;
    opacity:0.2;
    width:max-content !important;
    bottom:-6rem;
    pointer-events:none;

}

/*****************/

header {
    position:fixed;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index:1;
}
.header-wrapper {
    width:100%;
    max-width:1440px;
    padding:2rem 6rem;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}
.header-wrapper button {
    background-color:var(--facebook);
    padding:0.5rem 2rem;
    color:white;
    font-weight:700;
    border:2px solid var(--facebook);
}
.header-wrapper button:hover {
    cursor:pointer;
    background-color:#6074a2;
    border-color:#6074a2;
}
/********* Media Queries *************/

@media (max-width:1335px) {
    .main-wrapper p {
        width:40%;
        
    }
}
@media (max-width:998px) {
    .main-wrapper p {
        width:60%;
        
    }
}
@media (max-width:830px) {
    .main-wrapper p {
        width:70%;
        
    }
}
@media (max-width:700px) {
    .main-wrapper p {
        width:100%;
        
    }
    .main-wrapper {
        padding-inline:4rem;
    }
    .header-wrapper {
        padding-inline:4rem;
    }
}
@media (max-width:576px) {
    main {
        background-position:-15rem;
    }
}
@media (max-width:500px) {
    .main-wrapper {
        padding-inline:2rem;
    }
    .header-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:461px) {
    .main-wrapper h1 {
        font-size:4rem;
    }
    .notify-me {
        width:100%;
    }
}
@media (max-width:406px) {
    .main-wrapper h1 {
        font-size:3rem;
    }
    .notify-me form {
        display:flex;
        flex-direction:column;
        gap:1.5rem;
    }
    .notify-me button,
    .notify-me input {
        width:100%;
        margin-left:0 !important;
        border-radius:0.5rem !important;
        
    }
}
@media (max-width:359px) {
    .main-wrapper h1 {
        font-size:2.5rem;
    }
    .main-wrapper p:nth-of-type(1) {
        font-size:0.9rem;
    }
}
@media (max-width:350px) {
    .main-wrapper,
    .header-wrapper {
        padding-inline:1rem;
    }
}