:root {
    --black: #151515;
    --red: #FB5948;
    --blur: rgba(128,128,128,0.4);
    --facebook: #4460A0;
}

*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', serif;
    font-weight:700 !important;
    color:white;
}

p {
    line-height:1.75;
}

button {
    color:white;
    border:2px solid var(--red);
    background-color: var(--red);
    padding:0.5rem 1rem;
    font-weight:bold;
    cursor:pointer;
    border-radius:0.25rem;
}
a {
    text-decoration:none;
    color:white;
}

/********************/

body {
    width:100%;
    background-color:var(--black);
    color:white;
}
/**********************/
header {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    z-index:1;
    background-color:#15151589;
    backdrop-filter: blur(10px);
}
.header-wrapper {
    width:100%;
    max-width:1440px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:2rem 6rem;
}
button:hover {
    background-color:#f08c81;
    border-color:#f08c81;
}
nav {
    display:flex;
    align-items: center;
    gap:4rem;
}
.header-wrapper ul {
    list-style:none;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:4rem;
    font-weight:300;
}
.menu {
    display:none;
    cursor:pointer;
}
header img {
    width:150px;
}
/***********************/
.dropdown {
    position:relative !important;
    display:none;
    
}
.dropdown-menu {
    position:absolute;
    right:0;
    top:calc(100% + 0.5rem);
    padding:1.5rem;
    background-color:rgb(62, 61, 61);
    box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.1);
    display:grid;
    grid-template-columns:1fr 1fr;
    width:max-content;
    height:max-content;
    opacity:0;
    transform:translateY(-1rem);
    transition:opacity 0.5s, transform 0.5s;
    pointer-events:none;
    gap:2rem;
   
}
.dropdown-heading > a {
    font-weight:700 !important;
}
.dropdown-links {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}
.dropdown-links a {
    font-weight:300 !important;
}
.div {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}

.dropdown.active > .link + .dropdown-menu {
    opacity:1;
    transform:translateY(0);
    pointer-events:all;
    transition:opacity 0.5s, transform 0.5s;

}
.menu + .dropdown-menu {
    padding-block:2rem;
}
.dropdown-heading > p {
    font-weight:700 !important;
}
.dropdown > a {
    font-weight:300 !important;
}
/***********************/
/***********************/
@media (max-width:1050px) {
    nav {
        display:none;
    }
    .dropdown {
        display:block
    }
    .menu {
        display:block;
        width:50px;
    }
    
}
@media (max-width:700px) {
    .header-wrapper {
        padding-inline:4rem;
    }
}
@media (max-width:538px) {
    .dropdown-menu {
        grid-template-columns: 1fr;
    }
}
@media (max-width:500px) {
    .header-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:464px) {
    .menu {
        width:40px;
    }
}
@media (max-width:350px) {
    .header-wrapper {
        padding-inline:1rem;
    }
}

/***********************/
main {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-repeat:no-repeat;
    background-size: cover;
    z-index:20;
}
.hero-wrapper {
    width:100%;
    max-width:1440px;
    padding:6rem;
    padding-block:14rem;
    display:flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap:1rem;
}
.hero-wrapper h1 {
    font-size:3.5rem;
    font-weight:700;
    line-height:1.2;
    font-family: 'Roboto', sans-serif;
}
.hero-wrapper p {
    width:45%;
}
.hero-buttons {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap:2rem;
    margin-top:1rem;
    width:45%;
}
.hero-buttons button {
    padding-inline:3.5rem;
    width:15rem;
    padding-block:0.75rem;
}
.hero-buttons button:hover {
    background-color:#f08c81;
    border-color:#f08c81;
}

.hero-buttons a:nth-child(2)  button{
    background-color:transparent;
}
/***********************/
.hero-wrapper {
    position:relative;
   
}
.hero-wrapper > * {
    z-index:10;
}
.absolutely {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index:0;
    height:46rem;
    width:90rem;
    display:flex;
    align-items: flex-start;
    justify-content: center;
}
video {
    object-fit:cover;
    width:90rem;
    height:100%;
}
.rectangle {
    width:100%;
    height:100.5%;
    inset:0;
    position:absolute;
    background-image:linear-gradient(to right, var(--black), rgba(2, 2, 2, 0) 85%);
   
   
}


/***********************/
@media (max-width:1246px) {
    .hero-wrapper p {
        width:55%;
    }
}
@media (max-width:1091px) {
    .hero-wrapper p {
        width:65%;
    }
}
@media (max-width:940px) {
    .hero-wrapper p {
        width:75%;
    }
}
@media (max-width:809px) {
    .hero-wrapper p {
        width:85%;
    }
}
@media (max-width:747px) {
    .hero-wrapper p {
        width:100%;
    }
}
@media (max-width:731px) {
    .hero-wrapper p {
        width:85%;
    }
    .hero-wrapper h1 {
        font-size:3rem;
    }
    .hero-buttons button {
        width:12rem;
    }
}

@media (max-width:700px) {
    .hero-wrapper {
        padding-inline:4rem;
        padding-top:20rem;
        width:100%;
    }
    .hero-wrapper p {
        width:100%;
    }
    video,
    .absolutely {
        width:100% !important;
        height:18rem;
        transform:translate(0%) !important;
        inset:0;
    }
    .rectangle {
        height:100%;
    }
}

@media (max-width:587px) {
    .hero-wrapper p {
        width:100%;
        font-size:0.9rem;
    }
    .hero-wrapper h1 {
        font-size:2.5rem;
    }
    .hero-buttons button {
        width:100%;
    }
    .hero-buttons a {
        width:100%;
    }
    .hero-buttons {
        flex-direction: column;
        width:100%;
    }
}

@media (max-width:512px) {
    .hero-wrapper {
        padding-inline:2rem;
    }
}

@media (max-width:350px) {
    .hero-wrapper {
        padding-inline:1rem;
    }
}

/***********************/

.introduction {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.introduction-wrapper {
    width:100%;
    max-width:1440px;
    padding:6rem;
    padding-bottom:8rem;
    display:flex;
    align-items: flex-start;
    justify-content: center;
    position:relative;
    
}
.introduction-wrapper p {
    width:50%;
    font-weight:300 !important;
}
.share {
    font-family: 'Share Tech', sans-serif;
    font-size:2rem;
}
.introduction-wrapper p:nth-child(2) {
   font-weight:200;
   margin-top:2rem;
}
.introduction-wrapper::after {
    content:"";
    background-color:white;
    color:white;
    width:50%;
    height:1px;
    position:absolute;
    bottom:0;
    left:0;
}
/******************/


@media (max-width:791px) {
    .introduction-wrapper {
        flex-direction:column;
    }
    .introduction-wrapper p:nth-child(2) {
        align-self:flex-end;
        width:75%;
    }
    .introduction-wrapper p:nth-child(1) {
        width:100%;
    }
}
@media (max-width:700px) {
    .introduction-wrapper {
        padding-inline:4rem;
    }
}
@media (max-width:500px) {
    .introduction-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:393px) {
    
    .introduction-wrapper p:nth-child(2) {
        align-self:flex-end;
        width:100%;
    }
    
}
@media (max-width:350px) {
    .introduction-wrapper {
        padding-inline:1rem;
    }
}




/******************/
/******************/
.banner-section {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-image:linear-gradient(to right, #151515, rgba(2, 2, 2, 0) 50%),linear-gradient(to top, #151515, rgba(2, 2, 2, 0) 50%), linear-gradient(to bottom, #151515, rgba(2, 2, 2, 0) 50%),  url(home-png-none/IMG_9064.png);
    /* background-image:linear-gradient(to right, rgb(6, 6, 6), rgba(2, 2, 2, 0) 200%); */

    background-repeat:no-repeat;
    background-size:cover;
    z-index:-1;
    overflow:hidden;

}
.banner-wrapper {
    width:100%;
    max-width:1440px;
    display:flex;
    align-items: center;
    padding:6rem;
    padding-block:12rem;
    padding-bottom:22rem;
    position:relative;
    overflow:hidden;
   
}
.banner-wrapper p {
    width:50%;
    font-weight:300;
}
.big {
    font-size:250px;
    font-weight:900 !important;
    opacity:0.05;
    font-family: 'EB Garamond', serif;
    position:absolute;
    bottom:-10%;
    right:-2%;
    width:max-content !important;
    overflow:hidden !important;
}
.banner-wrapper::after {
    content:"";
    background-color:white;
    color:white;
    width:50%;
    height:1px;
    position:absolute;
    bottom:0;
    right:0;
    
}
@media (max-width:879px) {
    
}
@media (max-width:771px) {
   
    .banner-wrapper p {
        width:75%;
    }
}
@media (max-width:700px) {
    .banner-wrapper {
        padding-inline:4rem;
    }
}
@media (max-width:500px) {
    .banner-wrapper {
        padding-inline:2rem;
    }
}

@media (max-width:393px) {
    .banner-wrapper p {
        width:100%;

    }
}
@media (max-width:350px) {
    .banner-wrapper {
        padding-inline:1rem;
    }
}
/*********************/
.news-section {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.news-wrapper {
    width:100%;
    max-width:1440px;
    display:flex;
    flex-direction: column;
    padding:6rem;
    position:relative;
}
.news-titles {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom:6rem;
}
.news-titles h2 {
    font-size:2.25rem;
    align-self:flex-end;
    width:60%;
    
}
.grid-item img {
    width:100%;
}
.news-grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap:4rem;
}
.grid-item {
    display:flex;
    align-items: center;
    font-weight:200;
}
.item-flex {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap:2rem;
}
.news-wrapper::after {
    content:"";
    background-color:white;
    color:white;
    width:50%;
    height:1px;
    position:absolute;
    bottom:0;
    left:0;
}
/***************/
@media (max-width:1050px) {
    .news-grid {
        grid-template-columns: 1fr;
        row-gap:4rem;
    }
    .grid-item img {
        width:100% !important;
    }
    .grid-item:nth-child(3) {
        grid-row:4;
    }
}
@media (max-width:954px) {
    .news-titles {
        flex-direction:column;
        align-items:flex-start;
        gap:1rem;
    }
    .news-titles h2 {
        font-size:2rem;
    }
}
@media (max-width:700px) {
    .news-wrapper {
        padding-inline:4rem;
    }
}
@media (max-width:623px) {
    .news-wrapper h2 {
        width:100%;
    }
}
@media (max-width:500px) {
    .news-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:350px) {
    .news-wrapper {
        padding-inline:1rem;
    }
}
/***************/
.why-section {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-image:linear-gradient(to top, #151515, rgba(2, 2, 2, 0) 50%), linear-gradient(to bottom, #151515, rgba(2, 2, 2, 0) 50%),  url(home-png-none/zoltan-singing.png);
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
}
.why-wrapper {
    width:100%;
    max-width:1440px;
    padding:6rem;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:4rem;
    position:relative;
}
.why-titles {
    display:flex;
    justify-content: space-between;
    width:100%;
    align-items: center;
}
.why-titles h2 {
    font-size:2.5rem;
    width:50%;
}
.why-cards {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;;
    width:100%;
}
.why-cards .card {
    background-color:var(--blur);
    padding:2rem;
    padding-top:3rem;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap:1rem;
    border-radius:0.5rem;
    backdrop-filter:blur(5px);

}
.why-cards img {
    width:30px;
}
.why-cards p.share {
    font-size:1.5rem;
    line-height:1.25;
    font-weight:700;

}
.why-wrapper::after {
    content:"";
    background-color:white;
    color:white;
    width:50%;
    height:1px;
    position:absolute;
    bottom:0;
    right:0;
}
.card p {
    font-family: 'Roboto', sans-serif !important;

}
/***************/
@media(max-width:1149px) {
    .why-cards {
        grid-template-columns:1fr 1fr;
        gap:2rem;
    }
    .why-wrapper h2 {
        font-size:2rem;
    }
}

@media(max-width:954px) {
    .why-titles {
        flex-direction:column-reverse;
        align-items: flex-start;
        gap:1rem;
    }
   
}
@media(max-width:900px) {
    .why-titles h2 {
        width:100%;
    }
    
}

@media(max-width:810px) {
    .why-cards {
        grid-template-columns:1fr;
    }
    
}
@media(max-width:700px) {
    .why-wrapper {
        padding-inline:4rem;
    }
}
@media(max-width:500px) {
    .why-wrapper {
        padding-inline:2rem;
    }
}
@media(max-width:350px) {
    .why-wrapper {
        padding-inline:1rem;
    }
}
/*************************/
.contact-section {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.contact-wrapper {
    width:100%;
    max-width:1440px;
    padding:6rem;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    gap:4rem;
    position:relative;
}
.contact-titles {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
}
.contact-titles h2 {
    font-size:2.5rem;
    width:50%;
}
form {
    width:50%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1rem;
}
fieldset {
    border:none;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    width:100%;

}
input,
textarea {
    padding:0.5rem;
    width:100%;
    background-color:transparent;
    border:none;
    border-bottom:1px solid white;
}
.contact-wrapper .big {
    rotate:0.25turn;
    position:absolute;
    top:10%;
    left:-35% !important;
    display:none;
}
.contact-wrapper input:focus,
textarea:focus {
    background-color:rgb(59, 57, 57);
    border-bottom:1px solid white;
    outline:none;
}
.social-icons {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:0.5rem;
}

/*****************/
@media (max-width:1026px) {
    .contact-wrapper form {
     width:100%;
    }
}
@media (max-width:954px) {
    .contact-titles {
       flex-direction: column;
       align-items: flex-start;
       gap:1rem;
       width:100%;
    }
    .contact-titles h2 {
        width:100%;
    }
}
@media (max-width:700px) {
    .contact-wrapper {
        padding-inline:4rem;
    }
}
@media (max-width:500px) {
    .contact-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:350px) {
    .contact-wrapper {
        padding-inline:1rem;
    }
}
/*********************/

h2 {
    font-weight:300;
}
.share {
    font-size:1.5rem;
}
ul {
    list-style:none;
}
/*********************/
footer {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-wrapper {
    width:100%;
    max-width:1440px;
    padding:6rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-top {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    border-bottom:1px solid white;
}
.footer-top {
    padding-bottom:6rem;
}
.footer-bottom {
   padding-top:6rem;
}
footer ul {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:4rem;
}
footer li {
    font-weight:200;
}
.footer-bottom li {
    font-size:0.8rem;
}
.social-icons {
    margin-right:4rem;
}
/*****************/
@media (max-width:1035px) {
    .footer-top,
    .footer-bottom,
    .footer-top ul,
    .footer-bottom ul {
        flex-direction: column;
        gap:4rem;
    }
    .social-icons {
        margin-right: 0rem; 
    }
}
@media (max-width:700px) {
    .footer-wrapper {
        padding-inline:4rem;
    }
}
@media (max-width:500px) {
    .footer-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:350px) {
    .footer-wrapper {
        padding-inline:1rem;
    }
}
/*****************/
.social-banner-wrapper {
    width:100%;
    max-width:1440px;
    display:flex;
    align-items: center;
    justify-content: center;
    padding-block:.5rem;
    gap:4rem;
    background-color:rgb(47, 47, 47);
    margin-top:-0.75rem;
}
.social-banner-wrapper img {
    width:40px;
}
.social-banner-wrapper img:nth-child(2) {
    width:32px;
}